<!DOCTYPE html>
<head>
    <title>This is Help page</title>
    <link rel="stylesheet", href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h4>{{helpText}}</h4>
        {{>footer}}
    </div>
    
</body>
</html>